/*no va dentro de ningun condicional o media querie y es lo que llamamos escritorio primero
1400 mayor 
*/
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anuphan', sans-serif;
}

.header {
    height: 100vh;

}

.headerNav {
    height: 15%;
    background-color: rgb(53, 58, 64);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 5rem;
}


.contenedorLogo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedorLogo a {
    display: inline-block;
    width: 40%;
}

.contenedorLogo img {
    width: 100%;
    object-fit: cover;
}

.contenedorLogo h2 {
    color: white;
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.listaNav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

.linkNav {
    color: rgb(134, 131, 131);
    font: bold;
    text-decoration: none;
    /* padding-right: 1rem;*/
    font-size: 110%;
    padding-left: 0.5rem;
}

.linkNavcon {
    color: white;
    font: bold;
    text-decoration: none;
}

.linkNavti {
    color: green;
    font: bold;
    text-decoration: none;
}

/*seccion la conferencia - hermano del headerNav*/
.laConferencia {
    height: 85%;
    background: linear-gradient(to bottom, #00000026, #000000c2, #00000026), url("../assets/img/ba1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contenedorTextConf {
    font-family: 'Anuphan', sans-serif;
    width: 40%;
    color: white;
    /* height: 35%;*/

    text-align: right;
    /* display: flex;
     flex-direction: column;
     justify-content: space-between;*/
}

.contenedorTextConf h1 {
    margin-bottom: 1rem;
}

.contenedorTextConf p {
    margin-bottom: 1rem;
}

.botOrador {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    /*-webkit-appearance: none;*/
    position: relative;
    display: inline-block;
    background: #1bdb1400;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 1.0em;
    padding: 0.6em 1.5em;
    border: rgb(241, 238, 238) 1px solid;
}

.botTick {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    /*-webkit-appearance: none;*/
    position: relative;
    display: inline-block;
    background: #267815fd;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    border-color: #101110;
    font-weight: 800;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 1.0em;
    padding: 0.6em 1.5em;
}

.tituloRadores :first-line {
    text-align: center;
    font-size: 180%;
    /*font-weight: bold;*/
}

.tituloRadores {
    text-align: center;
}

.sectionOradores h2 {
    text-align: center;
}

.padreCards {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    column-gap: 4%;
}

.card {
    border: 1px solid black;
    width: 350px;
    height: 95%;
    border-radius: 4%;
}

.card img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 4% 4% 0px 0px;

}

.cardBody {
    border-radius: 4%;

    height: 43%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 1rem;
}

.cardTags {
    display: flex;
}

.cardTags h4 {

    border-radius: 0.5rem;
    /*  background-color:rgb(255, 196, 0);*/
    text-align: center;
    padding: 2px;
}

.lugarFecha {
    display: flex;
    align-items: stretch;
    /*estira en el eje contrario al eje principal del contenedor*/
    height: 60vh;
    background-color: rgb(41, 41, 41);
    color: white;

}

.left {
    width: 50%;
    background-image: url("../assets/img/honolulu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.right {
    width: 50%;
    border-left: 1px solid white;
    padding: 2%;
}

.right h2 {
    margin-bottom: 1rem;
}

.right p {
    margin-bottom: 1rem;
    line-height: 1.7;
}

.Conocemas {
    background: #1bdb1400;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0.6em 1.0em;
    border: rgb(241, 238, 238) 1px solid;
}

.formularioOrador {
    width: 50%;
    height: 48vh;
    margin: 2rem auto;

    text-align: center;
}

.inputNA {

    width: 48%;

    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(198, 198, 198);
    padding-left: 0.5rem;
}

.textArea {
    width: 98%;
    height: 6rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(198, 198, 198);
}

.recuerda {
    text-align: left;
}

.formSubmit {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid rgb(7, 240, 42);
    background-color: rgb(16, 192, 72);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.wsp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
}

.inst {
    position: fixed;
    bottom: 70px;
    right: 10px;
    width: 50px;
}

.footer {
    background-color: aqua;
    background: linear-gradient(to right, #1d3947, #1d4962, #1e5372);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedorFooter {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;    
    text-align: center;
    margin-left: 18%;
    justify-content: space-between;
}

.contenedorFooter a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    width: 100%;
    height: 100%;    
    align-items: center;
    justify-content: center;    
    text-align: center;

}

.conviRadores {
    text-align: center;
    padding-top: 0%;

}

/*vamos a cargar ahora el dise単o para celular*/
/*0 - 600px  */
@media screen and (max-width: 567px) {
    .headerNav {
        background-color: rgb(56, 56, 56);
        height: initial;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        text-align: center;
        line-height: 1; 
    }

    .contenedorLogo {
        width: 70%;
        align-content:normal
    }

    .listaNav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .laConferencia {
        height: 70%;
        background: url("../assets/img/ba3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-right: initial;
        align-items: center;
        justify-content: center;

    }

    .contenedorTextConf {
        background: linear-gradient(to bottom, #000000c2, #000000c2);
        width: 100%;
        text-align: center;
        padding: 10%;
    }

    .escritorio {
        display: none;
    }

    .tituloRadores {
        text-align: center;
        padding-top: 9%;
    }

    .padreCards {
        width: 90%;
        height: initial;
    }

    .left {
        width: 50%;
        background-image: url("../assets/img/honolulu.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .right {
        width: 50%;
        border-left: 1px solid white;
        padding: 1%;
    }

    .right h2 {
        margin-bottom: 1rem;
    }

    .right p {
        margin-bottom: 1rem;
        line-height: 1;
    }

    .formularioOrador{
        width: 80%;
        height: 48vh;
        margin: 1rem auto;
    
        text-align: center;
    }

    .formularioOrador {
        height: initial;
    }

    .footer{
        height: initial;
        padding: 30px;
    }

    .contenedorFooter{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        text-align: center;
        line-height: 1;

    }

}

/*vamos a cargar ahora el dise単o para Tablet*/
/*600 - 767px  */

@media screen and (min-width: 568px) and (max-width:767px) {
    .headerNav {
        /* background-color: rgb(113, 243, 43); */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: initial;
        padding: 1rem 1rem;

    }

    .contenedorLogo {
        width: 70%;
    }

    .navegacion {
        width: 100%;
    }

    .listaNav {
        width: 100%;
        justify-content: space-between;
    }

    .linkNav {
        font-size: 1rem;
    }

    .tituloRadores {
        text-align: center;
        padding-top: 9%;
    }

    .padreCards {
        width: 90%;
        height: initial;
    }

    .right {
        width: 50%;
        border-left: 1px solid white;
        padding: 2%;
    }

    .right h2 {
        margin-bottom: 1rem;
    }

    .right p {
        margin-bottom: 1rem;
        line-height: 1;
    }

    .formularioOrador {
        height: initial;
    }

    .conviRadores {
        text-align: center;
        padding-top: 0%;

    }

    .Botenviar {
        text-align: center;
        padding-top: 9%;
    }

    .footer{
        height: initial;
        padding: 10px;
    }

    .contenedorFooter{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        text-align: center;
        line-height: 1;

    }

}

/*vamos a cargar ahora el dise単o para Tablet XL*/
/*768 - 991px  */

@media screen and (min-width: 768px) and (max-width:991px) {

    .headerNav {
        /* background-color: rgb(43, 190, 243); */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: initial;
        padding: 1rem 1rem;

    }

    .contenedorLogo {
        width: 50%;
    }

    .navegacion {
        width: 100%;
    }

    .listaNav {
        width: 100%;
        justify-content: space-between;
    }

    .linkNav {
        font-size: 1.2rem;
    }

    .tituloRadores {
        text-align: center;
        padding-top: 7%;
    }

    .padreCards {
        width: 90%;
        height: initial;
    }

    .right {
        width: 50%;
        border-left: 1px solid white;
        padding: 2%;
    }

    .right h2 {
        margin-bottom: 1rem;
    }

    .right p {
        margin-bottom: 1rem;
        line-height: 1;
    }

    .recuerda {
        text-align: left;        
    }

    .conviRadores {           
        text-align: center;        
        padding-top: 0%;
    }

    .Botenviar {
        text-align: center;

    }

    .footer{
        height: initial;
        padding: 10px;
    }

    .contenedorFooter{
        width: 60%;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        text-align: center;
        line-height: 1;

    }

}

/*vamos a cargar ahora el dise単o para Escritorio */
/*992 - 1299px  */

@media screen and (min-width: 992px) and (max-width:1299px) {
    .headerNav {        
        padding: 1rem 1rem;
    }

    .contenedorLogo {
        width: 30%;
    }

    .navegacion {
        margin-left: 20px;
        width: 65%;
    }

    .padreCards {
        width: 90%;
        height: initial;
    }

}

@media screen and (min-width: 1300px) and (max-width:1399px) {}